{% extends 'base.html' %}

{% block content %}
    <div id="app">
        <h1>Mini Finder</h1> 
        <label for='tag'>Filter by tag:</label>
        <select @change='tagSelect($event)' name='tag' id='tag' v-model='key'>
            <option>-</option>
            <option v-for='word in tag_options' v-bind:value='word.id'>[[ word.tag ]]</option>
        </select>
        <input type='text' @keyup.enter='searchMinis' name='tag' v-model='search'>
        <button @click='searchMinis'>Search</button>
        <button @click='showAll' name='all'>Browse All</button>
        <ul class='container'>
            <div class='row'>
                <li v-for='mini in minis.results' class ='col-md-6'>
                    <p>[[ mini.name ]]</p>
                    <div v-if='mini.displayDetail != true'>
                        <button @click='mini.displayDetail = true'>Show</button>
                    </div>
                    <br>
                    <img v-if='mini.displayDetail != true' class='img-thumbnail' :src='mini.image_url[0]'>
                    <div v-if='mini.displayDetail'>
                        <button @click='mini.displayDetail = false'>Hide</button>
                        <img class='col-md-1, img-thumbnail' v-for='img in mini.image_url' :src='img'>
                        <a :href='mini.url'>[[ mini.name ]]'s page</a>

                        <div class='container'>
                            <div class ='row'>
                                <div id='taglist'  v-for='tag in mini.tag_names'>[[ tag ]]</div>
                            </div>
                        </div>
                        <input type='text' v-model='new_tag' @keyup.enter='pushTag(mini)'>
                        <button @click='pushTag(mini)'>Add Tag</button>
                    </div> 
                </li>
            </div>
        </ul>
        <template v-if='minis.results'>
            <template v-if='method === "filter"'>    
                <button v-if='page != 1' @click='firstPageFilter()' type='button'>First Page</button>
                <button v-if="page > 1" @click='previousPageFilter()' type='button'>Previous Page</button>
                <button v-if='minis.next' @click='nextPageFilter($event)' type='button'>Next Page</button>
            </template>
            <template v-if='method === "search"'>    
                <button v-if='page != 1' @click='firstPageSearch()' type='button'>First Page</button>
                <button v-if="page > 1" @click='previousPageSearch()' type='button'>Previous Page</button>
                <button v-if='minis.next' @click='nextPageSearch($event)' type='button'>Next Page</button>
            </template>   
            <template v-if='method === "all"'>    
                <button v-if='page != 1' @click='firstPageAll()' type='button'>First Page</button>
                <button v-if="page > 1" @click='previousPageAll()' type='button'>Previous Page</button>
                <button v-if='minis.next' @click='nextPageAll($event)' type='button'>Next Page</button>
            </template>          
        </template>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                baseURL: 'http://localhost:8000/apis/v1/?page=',
                minis: [],
                key: '',
                tag_options: '',
                minitag: [],
                page: 1,
                new_tag: '',
                search: '',
                method: '',
                error_message: false,
                exists: null,
                tag_exists: null,
                relation_exists: null,
                index_check: '',
            },
            delimiters: [
                '[[',']]'
            ],
            methods: {
                createTag: function(mini){
                    axios({
                        url: 'http://localhost:8000/apis/v1/tag/',
                        method: 'post',
                        data: {
                                tag: this.new_tag,
                                mini_set: [mini.id]
                        }
                    })
                },
                addTag: function(mini){
                    axios({
                        url: 'http://localhost:8000/apis/v1/tag/',
                        method: 'patch',
                        data: {
                                mini_set: [mini.id]
                        }
                    })
                },
                pushTag: function(mini){
                    this.checkTag(mini)
                    if (!this.tag_exists) {
                        this.createTag(mini)
                    }
                    // else if (!this.relation_exists) {
                        
                    //     this.addTag(mini)
                    // }
                },
                checkTag: function(mini) {
                    this.tag_exists = false
                    this.relation_exists = false
                    this.tag_options.map(name => {
                        if (name.tag === this.new_tag) {
                            this.tag_exists = true
                        }
                    mini.tag_names.map(tag => {
                        if (tag.tag_names === this.new_tag) {
                            this.relation_exists = true
                            this.index_check = tag.find_index(index => (index === tag))
                        }
                    })
                    })
                },
                filterMinis : function () {
                    axios({
                        url: this.baseURL+this.page,
                        method: 'get',
                        params: {
                            tags : this.key,
                            page: this.page
                        }
                    }).then (response => {
                        const manipulatedData = response.data
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.displayDetail = false
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.image_url = mini.image_url.slice(2,-2).split("', '")
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.tag_names = []
                            mini.tags.forEach(mini_tag => {
                                let tag = this.tag_options.find(tag => {
                                    return tag.id === mini_tag
                                })
                                mini.tag_names.push(tag.tag)
                                tag_names = this.minitag
                            });
                            return mini
                        })
                        this.minis = manipulatedData
                        this.method = 'filter'
                        this.search = ''
                    })
                },
                searchMinis : function () {
                    axios({
                        url: this.baseURL+this.page,
                        method: 'get',
                        params: {
                            tags__tag: this.search,
                            page: this.page
                        }
                    }).then (response => {
                        const manipulatedData = response.data
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.displayDetail = false
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.image_url = mini.image_url.slice(2,-2).split("', '")
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.tag_names = []
                            mini.tags.forEach(mini_tag => {
                                let tag = this.tag_options.find(tag => {
                                    return tag.id === mini_tag
                                })
                                mini.tag_names.push(tag.tag)
                            });
                            return mini
                        })
                        this.minis = manipulatedData
                        this.method = 'search'
                        this.key = ''
                    })
                },
                showAll : function () {
                    axios({
                        url: this.baseURL+this.page,
                        method: 'get',
                        params: {
                        }
                    }).then (response => {
                        const manipulatedData = response.data
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.displayDetail = false
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.image_url = mini.image_url.slice(2,-2).split("', '")
                            return mini
                        })
                        manipulatedData.results = manipulatedData.results.map(mini => {
                            mini.tag_names = []
                            mini.tags.forEach(mini_tag => {
                                let tag = this.tag_options.find(tag => {
                                    return tag.id === mini_tag
                                })
                                mini.tag_names.push(tag.tag)
                            });
                            return mini
                        })
                        this.minis = manipulatedData
                        this.method = 'all'
                        this.key = ''
                        this.search = ''
                    })
                },
                tagSelect(event){
                    this.page = 1
                    this.filterMinis()
                },
                firstPageFilter: function () {
                    this.page = 1,
                    this.filterMinis()
                },
                nextPageFilter: function (event) {
                    this.page += 1,
                    this.filterMinis()
                },
                previousPageFilter: function () {
                    this.page -= 1,
                    this.filterMinis()
                },
                firstPageSearch: function () {
                    this.page = 1,
                    this.searchMinis()
                },
                nextPageSearch: function (event) {
                    this.page += 1,
                    this.searchMinis()
                },
                previousPageSearch: function () {
                    this.page -= 1,
                    this.searchMinis()
                },
                firstPageAll: function () {
                    this.page = 1,
                    this.showAll()
                },
                nextPageAll: function (event) {
                    this.page += 1,
                    this.showAll()
                },
                previousPageAll: function () {
                    this.page -= 1,
                    this.showAll()
                },
                showDetail: function (event) {
                    this.displayDetail = true
                },
                hideDetail: function () {
                    this.displayDetail = false
                }
            },
            mounted: function() {
                axios({
                    url: 'http://localhost:8000/apis/v1/tag/',
                    method: 'get',
                }).then (response => {
                    this.tag_options = response.data
                })
            }
        })
    </script>
{% endblock content %}










                {% comment %} // pushTag: function(mini){
                //     this.checkTag()
                //     if (!this.exists) {
                //         this.createTag(mini)
                //     }
                // },
                // checkTag: function() {
                //     this.exists = false
                //     this.tag_options.map(name => {
                //         if (name.tag === this.new_tag) {
                //             this.exists = true
                //         } 
                //     })
                // }, {% endcomment %}